asttokens
backcall
backports.functools-lru-cache
Bottleneck
brotlipy
certifi
cffi
charset-normalizer
comm
contourpy
cryptography
cycler
debugpy
decorator
exceptiongroup
executing
filelock
fonttools
gmpy2
h5py
idna
importlib-metadata
ipykernel
ipython
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mkl-fft
mkl-random
mkl-service
mpmath
munkres
nest-asyncio
networkx
numexpr
numpy
packaging
pandas
parso
pexpect
pickleshare
Pillow
pip
ply
prompt-toolkit
psutil
ptyprocess
pure-eval
pycparser
Pygments
pyOpenSSL
pyparsing
PyQt5-sip
PySocks
python-dateutil
pytorch-metric-learning
pytz
pyzmq
requests
scikit-learn
scipy
setuptools
sip
six
stack-data
sympy
threadpoolctl
toml
torch
torchvision
tornado
tqdm
traitlets
triton
typing_extensions
tzdata
urllib3
wcwidth
wheel
zipp
